{% extends "base.html" %}
{% block title %}睡眠质量调查{% endblock %}

{% block content %}
    <div class="container">

        {% if questionss %}
            <div class="panel panel-default">
                <div class="panel-heading">导入清单</div>
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>住院号</th>
                                <th>PSQI</th>
                                <th>日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ question.name }}</td>
                                    <td>{{ question.sex }}</td>
                                    <td>{{ question.age }}</td>
                                    <td>{{ question.adno }}</td>
                                    <td>{{ question.score }}</td>
                                    <td>{{ question.time_submit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row form-signin">
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="personcsv">导入调查问券数据</label>
                        <input type="file" id="personcsv" name="personcsv" accept="text/csv">

                        <p class="help-block">请务必按照模板提交数据.</p>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">提交</button>
                </form>
            </div>

            <div class="row form-signin">
            {% if request.user.is_superuser %}
                <button class="btn btn-primary btn-block" onclick="window.location.href='/static/file/main_persons.csv'">
                    下载管理员模板
                </button>
            {% else %}
                <button class="btn btn-primary btn-block" onclick="window.location.href='/static/file/main_person.csv'">
                    下载用户模板
                </button>
            {% endif %}
            </div>
        {% endif %}
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}