{% extends "base.html" %}
{% block title %}睡眠质量调查{% endblock %}
{% block javascript %}
    <script src="/static/js/Chart.min.js"></script>
    <script type="text/javascript">
        function discontrol(itemid) {

            if (document.getElementById(itemid).style.display == 'none') {
                document.getElementById(itemid).style.display = "";
            }
            else {
                document.getElementById(itemid).style.display = "none";
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        {% if persons %}
            <div class="panel panel-default">
                <div class="panel-heading">调查用户清单
                    <a class="pull-right btn btn-sm btn-default" href="/importperson/">导入</a>
                </div>

                <div class="panel-body">
                    <div class="row alert alert-success" role="alert">
                        <form class="form-horizontal" method="POST" action=".">

                            <div class="col-lg-2">
                                <select class="form-control" name="searchby">
                                    <option value="name">姓名</option>
                                    <option value="adno">住院号</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control" aria-label="..." name="key">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">搜索</button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                        </form>
                    </div>
                    <!-- /.row -->
                    <div class="list-group">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>住院号</th>
                                <th>用户</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for person in persons %}
                                <tr>
                                    <th scope="row">{{ person.adno }}</th>
                                    <td>{{ person.username }}</td>
                                    <td>{{ person.name }}</td>
                                    <td>{{ person.sex }}</td>
                                    <td>{{ person.age }}</td>
                                    <td>
                                        <div class="pull-right">
                                            <a href="/manage/{{ person.username }}/">
                                                <button class="btn btn-sm btn-primary">问卷记录</button>
                                            </a>
                                            <a href="/person/{{ person.username }}/update/">
                                                <button class="btn btn-sm btn-primary">个人信息</button>
                                            </a>
                                            <a href="/person/{{ person.username }}/delete/">
                                                <button class="btn btn-sm btn-danger">删除</button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        {% else %}

            {% if questions %}
                <div class="panel panel-default">
                    <div class="panel-heading">用户 {{ person.name }} 的图表</div>
                    <div>
                    <label>PSQI得分</label>
                        <canvas id="myChart"></canvas>
                    <label style="text-align: center;width: 100%;">次数</label>
                        <script>
                            var randomScalingFactor = function () {
                                return Math.round(Math.random() * 100)
                            };
                            var lineChartData = {
                                labels: [{% for question in questions %}"{{ forloop.counter }}",{% endfor %}],
                                datasets: [
                                    {
                                        fillColor: "rgba(151,187,205,0.2)",
                                        strokeColor: "rgba(151,187,205,1)",
                                        pointColor: "rgba(151,187,205,1)",
                                        pointStrokeColor: "#fff",
                                        pointHighlightFill: "#fff",
                                        pointHighlightStroke: "rgba(151,187,205,1)",
                                        data: [{% for question in questions %}"{{ question.score }}",{% endfor %}]
                                    }
                                ]
                            };
                            window.onload = function () {
                                var ctx = document.getElementById("myChart").getContext("2d");
                                window.myLine = new Chart(ctx).Line(lineChartData, {
                                    responsive: true
                                });
                            }
                        </script>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">用户{{ person.name }}的问卷清单<a class="pull-right btn btn-sm btn-default"
                                                                          href="./download/">下载表格</a>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>姓名</th>
                                    <th>PSQI</th>
                                    <th>提交时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr onclick="javascript:discontrol('desc{{ forloop.counter }}')">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td> {{ person.name }} </td>
                                        <td>{{ question.score }}</td>
                                        <td>{{ question.time_submit|date:"Y-m-d H:i:s" }}</td>
                                    </tr>
                                    <tr id="desc{{ forloop.counter }}" style="display: none;">
                                        <td colspan="4">
                                            <div class="panel panel-default text-left">
                                                <div class="panel-heading">PSQI 总分 = {{ question.score }}</div>
                                                <div class="panel-body row">
                                                    <label class="col-md-2 control-label">睡觉时间: {{ question.q1 }}点</label>
                                                    <label class="col-md-2 control-label">入睡时间: {{ question.q2 }}分钟</label>
                                                    <label class="col-md-2 control-label">起床时间: {{ question.q3 }}点</label>
                                                    <label class="col-md-2 control-label">睡眠时长: {{ question.q4 }}小时</label>
                                                    <label class="col-md-2 control-label">入睡困难: {{ question.a }}次/周</label>
                                                    <label class="col-md-2 control-label">易醒早醒: {{ question.b }}次/周</label>
                                                    <label class="col-md-2 control-label">夜间如厕: {{ question.c }}次/周</label>
                                                    <label class="col-md-2 control-label">呼吸不畅: {{ question.d }}次/周</label>
                                                    <label class="col-md-2 control-label">咳嗽打鼾: {{ question.e }}次/周</label>
                                                    <label class="col-md-2 control-label">感觉寒冷: {{ question.f }}次/周</label>
                                                    <label class="col-md-2 control-label">感觉闷热: {{ question.g }}次/周</label>
                                                    <label class="col-md-2 control-label">做噩梦: {{ question.h }}次/周</label>
                                                    <label class="col-md-2 control-label">疼痛不适: {{ question.i }}次/周</label>
                                                    <label class="col-md-2 control-label">其他烦恼: {{ question.j }}次/周</label>
                                                    <label class="col-md-2 control-label">睡眠质量: {{ question.q6 }}分</label>
                                                    <label class="col-md-2 control-label">药物催眠: {{ question.q7 }}次/周</label>
                                                    <label class="col-md-2 control-label">感到困倦: {{ question.q8 }}次/周</label>
                                                    <label class="col-md-2 control-label">精力不足: {{ question.q9 }}分</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert"><img width="50" height="50" src="/static/img/bad.png">未查询到记录!
                </div>
            {% endif %}
        {% endif %}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}