{% extends "base.html" %}
{% block title %}睡眠质量调查{% endblock %}
{% block javascript %}
{% endblock %}

{% block content %}
    <div class="container">
        {% ifequal result 0 %}
        {% endifequal %}

        {% ifequal result 1 %}
            {% ifequal method "delete" %}
                确定要删除{{ person.name }}?
                <form action="." method="post">
                    <button type="submit" class="btn btn-primary btn-block">确定</button>
                </form>
            {% endifequal %}

            {% ifequal method "update" %}
                <form class="text-left" action="." method="post">

                    {% csrf_token %}
                    <div class="alert alert-info">
                        <label>个人信息</label>

                        <div class="form-group ">
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">住院号</span>
                                <input type="text" class="form-control" name="adno" value="{{ person.adno }}"
                                       required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <span class="input-group-addon ">姓名</span>
                                <input type="text" class="form-control" name="name" value="{{ person.name }}"
                                       required>
                            </div>
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">性别</span>
                                <select class="form-control" name="sex">
                                    <option {% ifequal person.sex "男" %} selected="selected" {% endifequal %}>男</option>
                                    <option {% ifequal person.sex "女" %} selected="selected" {% endifequal %}>女</option>
                                </select>
                            </div>
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">年龄</span>
                                <input type="number" class="form-control" name="age" value="{{ person.age }}" required>
                            </div>
                            <div class="input-group col-md-6">
                                <span class="input-group-addon">住址</span>
                                <select class="form-control" name="home">
                                    <option {% ifequal person.home "农村" %} selected="selected" {% endifequal %}>农村
                                    </option>
                                    <option {% ifequal person.home "城镇" %} selected="selected" {% endifequal %}>城镇
                                    </option>
                                    <option {% ifequal person.home "城市" %} selected="selected" {% endifequal %}>城市
                                    </option>
                                </select>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">职业</div>
                                <input type="text" class="form-control" id="name" name="profession"
                                       value="{{ person.profession }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">文化程度</div>
                                <input type="text" class="form-control" id="name" name="education"
                                       value="{{ person.education }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">既往病史</div>
                                <input type="text" class="form-control" id="name" name="disease_history"
                                       value="{{ person.disease_history }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">既往病史病龄</div>
                                <input type="text" class="form-control" id="name" name="disease_age_h"
                                       value="{{ person.disease_age_h }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">现病史</div>
                                <input type="text" class="form-control" id="name" name="disease_current"
                                       value="{{ person.disease_current }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">现病史病龄</div>
                                <input type="text" class="form-control" id="name" name="disease_age_c"
                                       value="{{ person.disease_age_c }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">既往用药</div>
                                <input type="text" class="form-control" id="name" name="used_drugs"
                                       value="{{ person.used_drugs }}" required>
                            </div>
                            <div class="input-group col-md-6 ">
                                <div class="input-group-addon">现用药物</div>
                                <input type="text" class="form-control" id="name" name="using_drugs"
                                       value="{{ person.using_drugs }}" required>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary">更新</button>
                        <a href="/" class="btn btn-primary">返回 </a>
                </form>
            {% endifequal %}
        {% endifequal %}

        {% ifequal result 2 %}
            {% ifequal method "delete" %}
                成功删除{{ username }}
                        <a href="/" class="btn btn-primary">返回 </a>
            {% endifequal %}

            {% ifequal method "update" %}
                成功更新{{ username }}
                        <a href="." class="btn btn-primary">返回 </a>
            {% endifequal %}
        {% endifequal %}

        {% ifequal result -1 %}
            无权限操作{{ username }}
                        <a href="/" class="btn btn-primary">返回 </a>
        {% endifequal %}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}