{% extends "base.html" %}
{% block title %}睡眠质量调查{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h4>匹兹堡睡眠质量指数量表(PSQI)</h4>

            {% if well %}
                <div class="alert alert-success" role="alert"><img width="50" height="50" src="/static/img/well.png">您的书面质量较好，请继续保持哟！</div>
            {% else %}
                <div class="alert alert-danger" role="alert"><img width="50" height="50" src="/static/img/bad.png">您存在睡眠障碍，请及时进行治疗，谢谢！</div>
            {% endif %}
                <div class="panel panel-default text-left">
                    <div class="panel-heading">PSQI 总分 = 成分A + 成分B + 成分C + 成分D + 成分E + 成分F + 成分G</div>
                    <div class="panel-body row">
                        <label class="col-md-2 control-label">成分A: {{ element_A }}</label>
                        <label class="col-md-2 control-label">成分B: {{ element_B }}</label>
                        <label class="col-md-2 control-label">成分C: {{ element_C }}</label>
                        <label class="col-md-2 control-label">成分D: {{ element_D }}</label>
                        <label class="col-md-2 control-label">成分E: {{ element_E }}</label>
                        <label class="col-md-2 control-label">成分F: {{ element_F }}</label>
                        <label class="col-md-2 control-label">成分G: {{ element_G }}</label>
                    </div>
                    <div class="panel-body row">
                        <label class="col-md-2 control-label">PSQI总分: {{ newquestion.score }}</label>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>

{% endblock %}